@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(185, 41%, 84%);
  --selected-color: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --alert: rgb(255, 58, 58);
}
body {
  font-family: "Space Mono", monospace;
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 20px;
  font-size: larger;
  font-weight: bold;
  color: #416567;
}

.calculator {
  background-color: var(--White);
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bill-section span,
.tip-percentage p {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--Dark-grayish-cyan);
}

.bill-section p {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bill-section .alert {
  /* display: none; */
  color: var(--alert);
}

.bill-section i {
  position: absolute;
  font-size: larger;
  left: 0;
  top: 25%;
  left: 10px;
}

.bill-section input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: var(--Very-light-grayish-cyan);
  border-radius: 5px;
  color: var(--Very-dark-cyan);
  font-weight: 600;
  font-size: 24px;
  text-align: right;
}

.tip-percentage p {
  font-size: smaller;
  margin-bottom: 5px;
}

#percentage {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 15px;
  list-style: none;
  gap: 10px;
}

#percentage button,
input {
  font-family: "Space Mono", monospace;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--Very-dark-cyan);
  width: 160px;
  color: var(--White);
  font-weight: 600;
  font-size: 24px;
}

#percentage input {
  width: 162px;
  text-align: right;
  padding: 0px 20px;
}

#percentage input::placeholder {
  text-align: center;
  font-size: large;
}

#percentage button:hover {
  background-color: var(--selected-color);
  color: var(--Very-dark-cyan);
}
#percentage button:focus {
  background-color: var(--selected-color);
  color: var(--Very-dark-cyan);
}

#percentage .custom {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Dark-grayish-cyan);
}

.right-section {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  padding: 40px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tip {
  display: flex;
  justify-content: space-between;
}

.tip span {
  color: var(--background-color);
}


tip  h1{
  color: var(--White);
}

.right-section button {
  background-color: var(--selected-color);
  color: var(--Very-dark-cyan);
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: larger;
  font-weight: 600;
}

.right-section button:hover {
  background-color: #9fe8df;
}

@media (min-width: 600px) {
  main {
    margin-top: 50px;
  }

  .calculator {
    width: 60vw;
    height: 40vh;
    flex-direction: row;
    padding: 40px;
  }

  .left-section {
    width: 50%;
  }

  .right-section {
    width: 50%;
    justify-content: space-between;
  }

  .bill-section span,
  .tip-percentage p {
    font-size: 16px;
  }

  #percentage {
    grid-template-columns: auto auto auto;
  }

  #percentage button {
    width: 134px;
  }

  #percentage input {
    width: 134px;
  }
}

/* Strong cyan: hsl(172, 67%, 45%)

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 700 
*/
